<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Products</h2>
<table>
    <tr>
        <th>Product name</th>
        <th>Product price</th>
    </tr>

    <tr th:each="p: ${products}">
        <th th:text="${p.name}"></th>
        <th th:text="${p.price}"></th>
    </tr>
</table>

<form action="/api/add" method="post">
    Name : <input  type="text" name="name"> <br>
    Price : <input type="number" step="any" name="price"> <br>
    <button type="submit">button</button>
</form>
</body>
</html>